# edit.erb
<h1>Update Owner</h1>

<form action="/owners/<%=@owner.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="pets[name]" id="pets_name" value="<%=@pet.name%>">

  <br></br>

  <label>Choose an existing owner:</label>

  <br></br>

  <%Owner.all.each do |pet|%>
    <input type="checkbox" name="pet[owner_ids][]" id="<%= owner.id%>" value="<%=owner.id%>" <%='checked' if @pets.owner.include?(owner) %>><%=owner.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new owner:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="owner[name]" id="owner_name"></input>
  <br></br>
  <input type="submit" value="Update Pet">
</form>
